{{ partial "head" . }}

<body class="home-template"><div class="site-wrapper">

{{ partial "header" . }}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
      {{ range $paginator.Pages }}
      {{ partial "post-card-set.html" . }}
      {{ end }}
    </div>

    {{ partial "paginator-nav.html" . }}
  </div>
</main>

{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
